<div class="beer-partial">
  <div class="partial-beer-image">
    <img src="{{this.image_url}}" alt="">
  </div>
  <div class="partial-beer-name">
    <h3>{{this.name}}</h3>
  </div>
  <div class="partial-beer-tagline">
    <h4>{{this.tagline}}</h4>
  </div>
  <div class="partial-beer-description">
    <h4>{{this.description}}</h4>
  </div>
</div>