/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/

.index-beer-image{
  width: 350px;
  margin-left: 40%;
  margin-top: 5%;
}

.button-container{
  margin-top: 20px;
  margin-left: 630px;
}

.button-display{
  display: block;
  margin-top: 10px;
}

.button-text{
  color: white;
  text-decoration: none;
}

.link-color{
  color: white;
}

.randombeer-image{
  margin-top: 200px;
  margin-left: 420px;
  width: 120px;
  /* vertical-align: middle; */
}

.randombeer-image-wrapper{float:  left;}

.randombeer-text-wrapper{float:  right;margin-top: -280px;/* margin-bottom: 640px; */margin-right: 400px;width: 485px;}

.randombeer-name{

}

.randombeer-tagline{
  color: grey;
}

.randombeer-description{

}

.randombeer-food-pairing{
}

.randombeer-brewers-tips{

}


#footer {
  /* bottom:0; */
  width:100%;
  height:60px;
  clear: both;
  position: absolute;
  bottom:0;
}

#footer-text{
  margin-left: 25px;
}