<div class="index-container">
  <img class="image-centered index-beer-image" src="/images/beer.png" alt="">

  <div class="button-container">
    <button class="btn btn-primary button-displayn">
      <a  class="button-text" href="/beers">Check out the Beers!</a>
    </button>

    <button class="btn btn-primary button-display">
      <a class="button-text" href="/random-beers">Check out a Random Beer!</a>
    </button>
  </div>

</div>